.video {
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    display: flex;
}

.header {
    position: absolute; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FAD14B;
    padding: 20px;
}

.header h1 {
    display: flex;
    justify-content: flex-start;
    font-size: 35px;
    margin: 0;
}

/* position:absolute Keeps nav bar above video */
.nav {
    position: absolute;  
    margin-left: 50%;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    list-style-type: none; 
    font-weight: bold;
    font-size: 20px;
}

a{
    transition: color .4s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover { 
    color:yellow;
    text-decoration: none; 
    font-weight: none;
    box-shadow: inset 200px 0 0 0 #4086a0;
   
    
}

a:link {
    text-decoration: none;
}

.fluffArea {
    border-bottom: 10px solid blue;
    padding-bottom: 30px;
}

.fluffAreaBox {
    border-radius: 6px;
    /* border: 1px solid #FAD14B; */
    margin-top: 90px;
    margin-right: 400px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.secondFluffAreaBox {
    margin-top: 5px;  
    margin-left: 400px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.photoContainer {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    
}

.photoContainer p {
    border: 10px solid blue;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    
}

.photoContainerItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.photoContainerItems img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transition: transform .2s; */
}







.travelOptions {
    padding-top: 40px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    

    
    
}

.travelOptions li {
    list-style: none;
    padding: 15px;
    
}


.travelOptionsContainer1 {
    
    
   
    
}

.travelOptionsContainer2 {
    
}






.discountBox {
    
    margin-top: 100px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.discountBox h2 {
    font-weight: bold;
}

.rentalHouse {
    border-radius: 5px;
    border: 5px solid blue;
    margin-top: 10px;
}

.newsletter {
    padding: 50px;
    margin: 0 450px 0 450px;
} 
.newsletterItems {
    display: flex;
    justify-content: center;
    gap: 30px;
    border: 5px solid blue;
    border-radius: 10px;
}

.newsletterItems img {
    height: 400px;
    border-radius: 10px;
}

.newsletterBody {
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    padding-top: 75px; 
}

.footer {
   text-align: center; 
}

.footer p {
    text-decoration: underline;
    font-weight: bold;
}

.footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}



