.header {
    background-color:#4A50FA;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 15px solid #2327AD;
    color: #FAD14B;
}

.header h1 {
    display: flex;
    justify-content: flex-start;
}

.header h2 {
    display: flex;
    justify-content: flex-end;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px; 
    list-style-type: none; 
    color: #2335AD;
    font-weight: bold;
}

.blockContainer {
    background-image: url("beach1.jpg");
    height: 550px;
    background-size: cover;
}

