/* ################################################## */
/* ########### Global classes / overrides ########### */
/* ################################################## */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  
.mainHeader {
  display: flex;
  background-color: black; 
  color: #f2ff00;
  border-bottom: 5px solid #f2ff00;
  padding: 2px 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-weight: bold; 
}

.headerNav ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  color: white;
  font-size: 18px;
}

.secondHeader h2 {
  color: black;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #878787;
  padding: 15px;
  font-family: 'Merriweather', serif;
  display:flex;
  justify-content: center;
}

.line {
text-decoration: line-through;
}

.underline {
text-decoration: underline #f2ff00;
}

.imageBox {
  display: flex;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg);
  background-size: cover;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.imageBox p {
  text-align: center;
  justify-content: center;
}

.boxSets {
  display: flex;
  
}

.box1 {
  padding: 75px;

}

.box2 {
  padding: 75px;
  
}

.box3 {
  padding: 75px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    padding: 15px 0;
  }
  
  .footer {
    background-color: black;
    color: white;
    text-align: left;
  }



  /* Fonts, classes are so I can reuse the styles on a variety of elements */
  .merriweather { font-family: 'Merriweather', serif; }
        .oswald { font-family: 'Oswald', sans-serif; }
          .lato { font-family: 'Lato', sans-serif; }
  
  /* Colors */
  /* Dark yellow: #f2ff00 */
  /* Lighter yellow: #ffd900 */
  /* Light gray: #adadad */
  /* Medium gray: #878787 */
  
  /* Background Image */
  /* https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg */